@import "variables";
@import "helpers";

.blog {
    max-height: 100vh;
    max-width: toRem(1556px);
    width: 100%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 100px;
}

.title {

}

.hdl4 {
    color: #172432;
    font-weight: 400;
    font-size: toRem(64px);
    line-height: toRem(85.31px);
    font-family: "Playfair Display", serif;
    font-style: normal;
    display: inline-block;
    margin: 0 0 20px 0;
    &::after {
        content: "";
        position: absolute;
        background: $primary-color;
        width: toRem(150px);
        height: 0;
        margin: 0;
        border: 1px solid $primary-color;
        display: block;
        translate: 0 20px;

    }
}

.description {

}

.blog-content {
    display: flex;
    flex-direction: row;
}

.blog-text-block {
    margin: 106.5px 0 106.5px 32px;
}

.blog-text-block-hdl {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 72px;
    color: $input-font-color;
    width: 762px;
    height: 144px;
    margin: 0;
}

.blog-text-block-text {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    color: $input-font-color;
    font-size: 24px;
    line-height: 52px;
    margin: 24px 0;
}

.read_more {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
    color: $primary-color;
    margin: 0;
    text-decoration: none;

    &::after {
        content: '';
        background-image: url("#{$imgs-path}/blog_arrow.svg");
        display: inline-block;
        background-repeat: no-repeat;
        width: 29px;
        height: 15px;
        translate: 20px 0;
    }
}
