@import "variables";
@import "helpers";

.destination {

}
.title {
    max-width: toRem(1556px);
    width: 100%;
    height: 140px;
    padding-left: 182px;
    &__h1 {
        color: #172432;
        font-weight: 400;
        font-size: toRem(64px);
        line-height: toRem(85.31px);
        font-family: "Playfair Display", serif;
        font-style: normal;
        display: inline-block;
        &::after {
            content: "";
            position: absolute;
            background: $primary-color;
            width: toRem(365px);
            height: 0;
            margin: auto;
            border: 3px solid $primary-color;
            display: block;
        }

    }
    &__description {
        color: #767E86;
        font-weight: 400;
        font-family: Rubik, sans-serif;
        line-height: toRem(28.44px);

    }
    .previous__btn {
        color: #FFFFFF;
        background: #172432;
        border-color: $input-font-color;
        width: toRem(60px);
        height: toRem(66px);
        border-radius: toRem(12px);

    }
    .next__btn {
        @extend .previous__btn;
        background: $primary-color;
        border-color: $primary-color;
    }
}