@import "variables";
@import "helpers";

.destination {
    max-height: 100vh;
    max-width: toRem(1556px);
    width: 100%;
    margin: 140px auto 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 100px;

}
.title {


}

.hdl2 {
    color: #172432;
    font-weight: 400;
    font-size: toRem(64px);
    line-height: toRem(85.31px);
    font-family: "Playfair Display", serif;
    font-style: normal;
    display: inline-block;
    margin: 0 0 20px 0;

    &::after {
        content: "";
        position: absolute;
        background: $primary-color;
        width: toRem(365px);
        height: 0;
        margin: 0;
        border: 1px solid $primary-color;
        display: block;
        translate: 0 20px;

    }
}
.description {
    color: $secondary-font-color;
    font-weight: 400;
    font-family: Rubik, sans-serif;
    line-height: toRem(28.44px);
    margin-top: toRem(32px);
    margin-bottom: 0;
    font-size: toRem(24px);
}

.gallery {
    display: flex;
    gap: 32px;
}

.content {

    &__name {
        font-family: "Playfair Display", serif;
        color: $primary-font-color;
        font-weight: 500;
        font-size: toRem(28px);
        line-height: 1.32;
        text-decoration: none;
        margin: 0 auto 17px 24px;
        translate: 0 (-120px);
    }

}

.localization {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: toRem(24px);
    line-height: toRem(28px);
    text-decoration: none;
    margin-bottom: 0;
    &::before {
        content: '';
        background-image: url("#{$imgs-path}/location_1.svg");
        display: inline-block;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
}
