@import "variables";
@import "helpers";

%menu-item {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: toRem(20px);
    line-height: toRem(24px);
    color: $primary-font-color;
    text-decoration: none;
    padding: toRem(10px);
    margin: toRem(6px);
    display: inline-block;
}

.intro {
    background-image: url('#{$imgs-path}/Hero Section.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: toRem(1556px);
    width: 100%;
    //margin: auto;
    padding-top: toRem(20px);
    padding-bottom: toRem(20px);
}

.main-menu {
    &__item {
        @extend %menu-item
    }

    &__item--active, &__item:hover {
        font-weight: 500;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: toRem(6px);
            left: toRem(10px);
            width: calc(100% - toRem(20px));
            height: toRem(3px);
            display: block;
            margin: auto;
            background: $primary-color;

        }
    }
}

.auth-menu {
    &__item {
        @extend %menu-item
    }

    &__item--btn {
        border-radius: toRem(12px);
        background: $primary-color;
        padding: toRem(20px) toRem(32px);
    }
}

.lead {
    color: $primary-font-color;
    max-width: toRem(1556px);
    width: 100%;

    &__hdl {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: toRem(84px);
        line-height: 1.33;
        margin: 0;
    }

    &__text {
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: toRem(24px);
        display: inline-block;
    }
}


.search {
    width: 100%;
    max-width: toRem(1556px);
    position: relative;
    &::before {
        content: '';
        background: $secondary-color;
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        left: -100%;
    }
    &__wrapper {
        background: $secondary-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: toRem(1291px);
        border-radius: 0 toRem(20px) toRem(20px) 0;
    }


    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: toRem(225px);
        padding-top: toRem(68px);
        padding-bottom: toRem(68px);
    }

    &__lbl {
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: toRem(16px);
        line-height: 1.187;
        color: $secondary-font-color;
        text-transform: uppercase;
        margin-bottom: toRem(12px);
    }

    &__input {
        width: 100%;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        padding-bottom: toRem(10px);
        padding-top: toRem(10px);
        font-size: toRem(20px);
        font-family: "Playfair Display", serif;
        font-weight: 400;
        color: $input-font-color;
        border-bottom: toRem(1px) solid black;

    }

    &__input--select {

    }

    &__btn {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: toRem(36px);
        line-height: 1.3;
        color: $primary-font-color;
        border: 0;
        background: $primary-color;
        padding: toRem(62px) toRem(69px) toRem(62px) toRem(20px);
        text-align: left;
        border-radius: 0 toRem(20px) toRem(20px) 0;
        cursor: pointer;
        margin-right: -1px;
        position: relative;
        &::after{
            content: '';
            background-image: url('#{$imgs-path}/arrow.svg');
            display: inline-block;
            width: toRem(22px);
            background-repeat: no-repeat;
            height: toRem(16px);
            position: absolute;
            right: toRem(18px);
            transform: translateY(-8px);
        }
    }
}