@import "variables";
@import "helpers";

%menu-item {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: toRem(20px);
    line-height: toRem(24px);
    color: $primary-font-color;
    text-decoration: none;
    padding: toRem(10px);
    margin: toRem(6px);
    display: inline-block;
}

.intro {
    background-image: url('#{$imgs-path}/Hero Section.jpg');
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: toRem(1556px);
    width: 100%;
    margin: auto;
    padding-top: toRem(20px);
    padding-bottom: toRem(20px);
}

.main-menu {
    &__item {
        @extend %menu-item
    }

    &__item--active, &__item:hover {
        font-weight: 500;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: toRem(6px);
            left: toRem(10px);
            width: calc(100% - toRem(20px));
            height: toRem(3px);
            display: block;
            margin: auto;
            background: $primary-color;

        }
    }
}

.auth-menu {
    &__item {
        @extend %menu-item
    }
    &__item--btn {
        border-radius: toRem(12px);
        background: $primary-color;
        padding: toRem(20px) toRem(32px);
    }
}
