@import "variables";
@import "helpers";

.newsletter {
    width: toRem(1158px);
    height: toRem(112px);
    border-radius: 26px;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    background: $secondary-color;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    translate: 0 116px;
}

.hdl8 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.33;
    color: $secondary-font-color;
    margin: 0;
}

.newsletter-box {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

.email-box {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.email-text {
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: $secondary-font-color;
}

.email-input {
    background: #FFE8D4;
    border-radius: 12px;
    height: 24px;
    width: 292px;
    padding: 24px 40px;
    border: 0;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}

//::placeholder {
///    color: $primary-color;
// }

.subscribe {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: $primary-font-color;
    background: $primary-color;
    padding: 26px 35px;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
}



