@import "variables";
@import "helpers";

.photo-gallery {
    max-width: toRem(1556px);
    width: 100%;
    margin: 0 auto 280px;
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.title {}

.hdl6 {
    color: #172432;
    font-weight: 400;
    font-size: toRem(64px);
    line-height: toRem(85.31px);
    font-family: "Playfair Display", serif;
    font-style: normal;
    display: inline-block;
    margin: 0 0 20px 0;
    &::after {
        content: "";
        position: absolute;
        background: $primary-color;
        width: toRem(283px);
        height: 0;
        margin: 0;
        border: 1px solid $primary-color;
        display: block;
        translate: 0 20px;

    }
}

.description {}

.gallery-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 645px;
}

.gallery-content:nth-child(2) {
    align-self: flex-start;
}

