@import "variables";
@import "helpers";

.photo-gallery {
    max-width: toRem(1556px);
    width: 100%;
    margin: 0 auto 280px;
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.title {}

.hdl2 {}

.description {}

.gallery-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 645px;
}

.gallery-content:nth-child(2) {
    align-self: flex-start;
}

