@import "variables";
@import "helpers";

.planner {
    max-width: toRem(1556px);
    width: 100%;
    margin: 0 auto 240px;
    padding-top: 240px;
    display: flex;
    align-items: center;
    gap: 100px;
    height: 545px;
}

.title {}

.hdl5 {
    color: #172432;
    font-weight: 400;
    font-size: toRem(64px);
    line-height: toRem(85.31px);
    font-family: "Playfair Display", serif;
    font-style: normal;
    display: inline-block;
    margin: 0 0 20px 0;
    &::after {
        content: "";
        position: absolute;
        background: $primary-color;
        width: toRem(231px);
        height: 0;
        margin: 0;
        border: 1px solid $primary-color;
        display: block;
        translate: 0 20px;

    }
}

.planner-description {
    color: $secondary-font-color;
    font-weight: 400;
    font-family: Rubik, sans-serif;
    font-size: toRem(18px);
    line-height: 1.17;
    margin-top: toRem(32px);
    margin-bottom: 0;
}

.containers {
    width: 944px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;

}

.trip-content {
    width: 300px;
    height: 399px;
    border-radius: 26px;
}

.content-desc {
    margin: 20px 0;
}

.tour-price-box {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.tour-price {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: toRem(18px);
    line-height: 1.17;
    color: $input-font-color;
    margin: 0;
    text-transform: uppercase;
}

.tour-name {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: toRem(28px);
    line-height: 1.32;
    color: $input-font-color;
    font-style: normal;
    margin: 12px 0;

}

.tour-duration-box {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.tour-duration {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: toRem(18px);
    line-height: 1.17;
    color: $input-font-color;
    margin: 0;
    text-align: right;
}

