@import "variables";
@import "helpers";

.special_offer {
    max-height: 100vh;
    max-width: toRem(1556px);
    width: 100%;
    margin: 0 auto 280px;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap: toRem(100px);

}

.hdl-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
}

.hdl3 {

    color: #172432;
    font-weight: 400;
    font-size: toRem(64px);
    line-height: toRem(85.31px);
    font-family: "Playfair Display", serif;
    font-style: normal;
    display: inline-block;
    margin: 0 0 20px 0;
    &::after {
        content: "";
        position: absolute;
        background: $primary-color;
        width: toRem(241px);
        height: 0;
        margin: 0;
        border: 1px solid $primary-color;
        display: block;
        translate: 124px 20px;

    }

}

.description {

}

.offer {
    display: flex;
    gap: 32px;
}

.offer-block {
    width: toRem(497px);
    height: toRem(629px);
    background-color: $third-color;
    border-radius: 26px;

}

.text-block {
    padding: 40px 24px;

}

.hd3 {
    font-family: Mulish, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: $secondary-font-color;
    width: 449px;
    height: 35px;
    margin-bottom: 4px;
    margin-top: 0;

}

.rating {
    margin-top: 4px;
    margin-bottom: 0;
}

.text-info {
    font-family: Rubik, sans-serif;
    color: $input-font-color;
    font-weight: 400;
    size: 18px;
    line-height: 21px;
    width: 445px;
    height: 84px;
    margin: 24px 0;
}

.price-block {
    display: flex;
    align-content: center;
    justify-content: space-between;

}

.price-line {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price-text {
    font-family: Rubik, sans-serif;
    color: $secondary-font-color;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 49px;
    height: 24px;
    margin: 0;
}

.price {
    font-family: Rubik, sans-serif;
    color: #FF7757;
    font-weight: 400;
    line-height: 47px;
    font-size: 40px;
    width: 104px;
    height: 47px;
    margin: 0;
}

.special_offer-button {
    color: $primary-font-color;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    background: $primary-color;
    width: 159px;
    height: 64px;
    border-radius: 12px;
    padding: 20px 40px;
    border: 0;
    cursor: pointer;
}
