$base-font-size: 16px;

$primary-font-color: #FFF;
$secondary-font-color: #767E86;
$input-font-color: #172432;
$third-font-color: #000;

$primary-color: #FF7757;
$secondary-color: #FFF;
$third-color: #FFF8F1;

$imgs-path: '../images';

html, body {
  font-size: $base-font-size;
}